{% extends 'blog/base.html' %}
   {% block title %} About {% endblock %}
  {% block content %}
  <div class="container">
    <h1>How to Use</h1>
    <p>
      <ul>
        <li>This is my first web application. If you are new user first you need to
        create an account by clicking 'Register'.</li> <br>
        <li>With out having account you can't upload posts, but
        you can see posts only.</li><br>
        <li>If you want to read total story by clicking title of the post</li><br>
        <li>If you are already registered user just simply login  with username and password by
        clicking 'Login'.</li><br>
        <li>Initially user have default profile picture. If you want change profile picture
        by clicking dropdown right corner of the navigation bar select profile choose image and click update   </li><br>
        <li>After login you can able to update profile like username, email, profile picture
        and create post by clicking 'DropDown' on top right corner of the navigation bar.</li><br>
        <li>After creating post you can update and delete posts by clicking on 'title' of the post.</li>
      </ul>
    </p>
  </div>
  {% endblock %}
